<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto">

	<!-- READ_EXTERNAL_STORAGE for loading custom fonts from storage -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32"/>

	<queries>
		<intent>
			<action android:name="android.intent.action.PROCESS_TEXT" />
		</intent>
	</queries>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:label="@string/app_name"
		android:theme="@style/Theme.N1ckVerse"
		android:supportsRtl="false"
		android:fullBackupContent="@xml/backup_descriptor"
		android:dataExtractionRules="@xml/data_extraction_rules">

		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />

		<activity
			android:name="com.n1ckverse.unicode.UnicodeActivity"
			android:windowSoftInputMode="adjustResize"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />
				<category android:name="com.adamrocker.android.simeji.REPLACE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<data android:mimeType="text/plain" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts" />
		</activity>

		<activity-alias
			android:name="UnicodeActivityAlias"
			android:targetActivity="com.n1ckverse.unicode.UnicodeActivity"
			android:enabled="true"
			android:exported="true">
			<intent-filter android:icon="@mipmap/ic_launcher">
				<action android:name="android.intent.action.PROCESS_TEXT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity-alias>

		<activity android:name="com.n1ckverse.unicode.SettingActivity"
			android:parentActivityName="com.n1ckverse.unicode.UnicodeActivity" />

		<activity android:name="com.n1ckverse.unicode.TabsActivity"
			android:parentActivityName="com.n1ckverse.unicode.SettingActivity"/>

		<activity android:name="com.n1ckverse.unicode.RestartActivity"
			android:parentActivityName="com.n1ckverse.unicode.UnicodeActivity"/>

		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="${applicationId}.androidx-startup"
			android:exported="false"
			tools:node="merge">
			<meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer"
				tools:node="remove" />
		</provider>
	</application>
</manifest>
